<html>
    <head>
        <title>Lawbreaker: A Knave character generator</title>
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="static/css/skeleton.css" />

        <link rel="stylesheet" type="text/css" href="static/css/font.css" />
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    </head>
    <body style="margin:100px;font-family: 'Crimson Text', serif !important;">
        <div class="container">
            <div class="row">
                <div class="offset-by-two columns eight columns" style="font-family:'Sebaldus-Gotisch';font-size:5em;text-align:center;">404</div>
            </div>
            <div class="row">
                <div class="offset-by-two columns eight columns" style="font-size:2em;text-align:center;">Character not found</div>
            </div>
        </div>
    </body>
</html>

