<html>
    <head>
        <title>Lawbreaker: A Knave character generator</title>
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="static/css/skeleton.css" />

        <link rel="stylesheet" type="text/css" href="static/css/print.css" />
        <link rel="stylesheet" type="text/css" href="static/css/font.css" />
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    </head>
    <body style="font-family: 'Crimson Text', serif !important;font-size:1.8em;">
        <div class="container">
            <!-- Title -->
            <div class="row noprint" style="display:flex;align-items:center;">
                <div class="offset-by-two eight columns" style="font-family:'Sebaldus-Gotisch';font-size:3em;text-align:center;">Lawbreaker</div>
            </div>
            <div class="row noprint">
                <div class="offset-by-two eight columns" style="text-align:center;"><b>A character generator for the Knave role playing game.</b></div>
            </div>
            % if not defined('permalinked'):
            <div class="row noprint">
                <div class="offset-by-two eight columns" style="text-align:center;font-size:0.9em;"><a class="button" href="{{content['id']}}">Permalink</a></div>
            </div>
            % end
            % if defined('permalinked') and permalinked:
            <div class="row noprint" style="margin:1%">
                <div class="offset-by-two eight columns" style="text-align:center;font-size:0.8em;">(This permalink expires after 30 days of inactivity)</div>
            </div>
            % end
            <div class="row">
                <div class="offset-by-one ten columns noprint"><hr></div>
            </div>

            <!-- Basic details -->
            <div class="row">
                <div class="offset-by-two one columns"><b>Name:</b></div>
                <div class="two columns">{{content['name']}}</div>
                <div class="one columns" ><b>XP:&nbsp;&nbsp;</b>{{content['xp']}}</div>
                <div class="two columns" style="text-align:center;"><b>Level:&nbsp;&nbsp;</b>{{content['level']}}</div>
                <div class="two columns" ><b>HP:&nbsp;&nbsp;</b> {{content['hit_points']}} / {{content['hit_points']}}</div>
            </div>
            <br>

            <!-- Traits -->
            <div class="row">
                <div class="offset-by-two eight columns" style="font-family:'Sebaldus-Gotisch';font-size:1.9em;">Traits</div>
            </div>
            <div class="row">
                <div class="offset-by-two eight columns">
                    {{content['traits']['background'].title()}}.
                    Wears {{content['traits']['clothing']}} clothes, and has {{content['traits']['speech']}} speech.
                    Has
                    {{'an' if content['traits']['physique'][0] in ['a','e', 'i', 'o', 'u'] else 'a'}}
                    {{content['traits']['physique']}} physique,
                    {{'an' if content['traits']['face'][0] in ['a','e', 'i', 'o', 'u'] else 'a'}}
                    {{content['traits']['face']}} face, {{content['traits']['skin']}} skin and {{content['traits']['hair']}} hair.
                    Is {{content['traits']['virtue']}}, but {{content['traits']['vice']}}.
                    Has been {{content['traits']['misfortune']}} in the past.
                    Favours {{content['traits']['alignment']}}.
                </div>
            </div>
            <br>
            <!-- Attributes -->
            <div class="row">
                <div class="offset-by-two eight columns" style="font-family:'Sebaldus-Gotisch';font-size:1.9em;">Attributes</div>
            </div>
            <div class="row">
                <div class="offset-by-three two columns" style="text-align:center;"><b>Defense</b></div>
                <div class="two columns" style="text-align:center;"><b>Attribute</b></div>
                <div class="two columns" style="text-align:center;"><b>Bonus</b></div>
            </div>
            % for (attribute, attribute_defense) in content["attributes"].iteritems():
            <div class="row">
                <div class="offset-by-three two columns" style="text-align:center;">{{attribute_defense}}</div>
                <div class="two columns" style="text-align:center;">{{attribute.title()}}</div>
                <div class="two columns" style="text-align:center;">{{attribute_defense - 10}}</div>
            </div>
            % end
            <br>
            <div class="row">
                <div class="offset-by-three two columns" style="text-align:center;">{{content['armor_defense']}}</div>
                <div class="two columns" style="text-align:center;">Armor</div>
                <div class="two columns" style="text-align:center;">{{content['armor_defense'] - 10}}</div>
            </div>
            <br>
            <!-- Inventory -->
            <div class="row">
                <div class="offset-by-two eight columns" style="font-family:'Sebaldus-Gotisch';font-size:1.9em;">Inventory</div>
            </div>
            <div class="row">
                <div class="offset-by-two six columns"><b>Name</b></div>
                <div class="one columns" style="text-align:center;"><b>Slots</b></div>
            </div>
            % for item in content["inventory"]:
            <div class="row">
                <div class="offset-by-two columns six columns">
                    % if item['equipped']:
                    (E)
                    % end
                    {{item['name']}}
                    <i style="font-size:0.7em;">
                    % if item['type']=='Weapon':
                    <!--d6 damage, 1 hand, 3 quality-->
                    ({{item['damage']}} damage, {{item['hands']}}
                    {{'hands' if item['hands'] > 1 else 'hand'}}
                    , {{item['quality']}} quality)
                    % end

                    % if item['type']=='Armor' and item['name'] in ['Shield', 'Helmet']:
                    (Defense +{{item['defense']}}, {{item['quality']}} quality)
                    % end

                    % if item['type']=='Armor' and item['name'] not in ['Shield', 'Helmet']:
                    (Defense {{11 + item['defense']}}, {{item['quality']}} quality)
                    % end
                </i>


                </div>
                <div class="one columns" style="text-align:center;">{{item['slots']}}</div>
            </div>
            % end
            <div class="row">
                <div class="offset-by-eight one columns"><b>({{content['used_slots']}}/{{content['total_slots']}})</b></div>
            </div>
            <!-- Footnote -->
            <br>
            <div class="row onlyprint" style="display:flex;align-items:center;">
                <div class="offset-by-two eight columns" style="font-family:'Sebaldus-Gotisch';font-size:3em;text-align:center;">Lawbreaker</div>
            </div>
            <div class="row onlyprint">
                <div class="offset-by-two eight columns" style="text-align:center;"><b>A character generator for the Knave role playing game.</b></div>
            </div>
            <div class="row onlyprint">
                <div class="offset-by-two eight columns" style="text-align:center;">lawbreaker.herokuapp.com</div>
            </div>
            <br class="onlyprint">
            <div class="row">
                <div class="twelve columns" style="text-align:center;">
                    <i style="font-size:0.7em;">
                    <a href="https://github.com/hrangan/lawbreaker">Lawbreaker</a> by hrangan
                    ·
                    <a href="https://www.drivethrurpg.com/product/250888/Knave">Knave</a> by Questing Beast
                    ·
                    <a href="https://www.reddit.com/r/DnDBehindTheScreen/comments/50pcg1/a_post_about_names_names_for_speakers_of_the/">Random names</a> courtesy OrkishBlade
                    </i>
                </div>
            </div>
            <!-- Blank line for legibility -->
            <div class="row noprint">&nbsp;</div>
        </div>
    </body>
</html>
