<html>
    <head>
        <title>Testbreaker: The Lawbreaker test environment</title>
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="static/css/skeleton.css" />

        <link rel="stylesheet" type="text/css" href="static/css/font.css" />
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    </head>
    <body style="margin:100px;font-family: 'Crimson Text';">
        <div class="container">
            <div class="row">
                <div class="offset-by-two columns eight columns" style="font-family:'Sebaldus-Gotisch';font-size:3em;text-align:center;">
                    Testbreaker
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="offset-by-one ten columns" style="font-size:2em;text-align:justify;">
                    This is the pre-deployment site for Lawbreaker.
                    It is currently offline since there are no new changes ready for public testing on
                    Lawbreaker.
                    <br>
                    <br>
                    Visit <a href="https://lawbreaker.herokuapp.com/" target="_blank">Lawbreaker</a> to generate a character sheet for the Knave role playing game.
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="twelve columns" style="text-align:center;">
                    <a href="https://github.com/hrangan/lawbreaker" target="_blank">Lawbreaker</a> by hrangan
                    ·
                    <a href="https://www.drivethrurpg.com/product/250888/Knave" target="_blank">Knave</a> by Questing Beast
                </div>
            </div>
        </div>
    </body>
</html>
