<html>
    <head>
        <title>Lawbreaker: A Knave character generator</title>

        <meta property="og:title" content="Lawbreaker: A Knave character generator" />
        <meta property="og:url" content="https://lawbreaker.herokuapp.com/" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://lawbreaker.herokuapp.com/static/images/thumbnail.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="370" />
        <meta property="og:image:height" content="370" />

        <link rel="preload" href="{{ url_for('static', filename='css/font.css') }}" as="style" />

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/print.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}" />

        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    </head>
    <body style="margin:100px;font-family: 'Crimson Text', serif !important;">
        <div class="container">
            <!-- 404 Error Message -->
            <div class="row">
                <div class="twelve columns" style="font-family:'Sebaldus-Gotisch';font-size:5em;text-align:center;">404</div>
            </div>
            <div class="row">
                <div class="twelve columns" style="font-size:2em;text-align:center;">Character not found</div>
            </div>
        </div>
    </body>
</html>

