<html>
    <head>
        <title>Lawbreaker: A Knave character generator</title>
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="static/css/skeleton.css" />
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    </head>
    <body style="font-family: 'Crimson Text', serif !important;">
        <div class="container">
            <div class="row">
                <div class="one columns"></div>
                <div class="ten columns" style="white-space:pre;font-size: 0.75em;">
                    <pre>{{content}}</pre>
                </div>
                <div class="one columns"></div>
            </div>
        </div>
    </body>
</html>
