<!DOCTYPE html>
<html lang="en">
    <head>
        {% if permalink %}
        <title>Lawbreaker: {{content['name']}}</title>

        <meta property="og:title" content="Lawbreaker: {{content['name']}}" />
        <meta property="og:url" content="https://lawbreaker.herokuapp.com/{{content['id']}}" />
        {% else %}
        <title>Lawbreaker: A Knave character generator</title>

        <meta property="og:title" content="Lawbreaker: A Knave character generator" />
        <meta property="og:url" content="https://lawbreaker.herokuapp.com/" />
        {% endif %}
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://lawbreaker.herokuapp.com/static/images/thumbnail.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="370" />
        <meta property="og:image:height" content="370" />

        <link rel="preload" href="{{ url_for('static', filename='css/font.css') }}" as="style" />
        <link rel="preload" href="{{ url_for('static', filename='images/Konrad_I_Mazowiecki.jpg') }}" as="image" />

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lawbreaker.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/print.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text" />

        <script type="text/javascript" src="{{ url_for('static', filename='scripts/lawbreaker.js') }}" defer>
        </script>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    </head>
    <body>
        <div id="progression" class="hidden">{{ content['progression']|tojson }}</div>
        <div class="container">
            <!-- Header -->
            <div class="row noprint header center-text">
                <div class="offset-by-two two columns">
                    <img alt="Konrad I Mazowiecki"
                         src="{{ url_for('static', filename='images/Konrad_I_Mazowiecki.jpg') }}">
                </div>
                <div class="six columns shift-right">
                    <div class="rownoprint">
                        <div class="twelve columns heading">
                            Lawbreaker
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <b>A character generator for the Knave role playing game.</b>
                        </div>
                    </div>
                    {% if permalink %}
                    <div class="row">
                        <div class="twelve columns permalink-text">
                            (This permalink expires after 30 days of inactivity)
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="twelve columns permalink-button">
                            <a class="button" href="{{content['id']}}">Permalink</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="offset-by-one ten columns noprint hr-margin"><hr></div>
            </div>

            <!-- Basic details -->
            <div class="row status-text">
                <div class="offset-by-two one columns"><b>Name:</b></div>
                <div class="two columns">{{content['name']}}</div>
                <div class="one columns"><b>XP:&nbsp;&nbsp;</b><span id="xp">{{content['progression']['1']['xp']}}</span>
                </div>
                <div class="two columns center-text noprint">
                    <b>Level:</b>
                    <!--
                    <select id="level_select">
                        {% for level in content['progression'].keys()  %}
                        <option value="{{ level }}">{{ level }}</option>
                        {% endfor %}
                    </select>
                    -->
                    <div class="dropdown">
                      <button class="dropbtn" id="level">1</button>
                      <div class="dropdown-content" id="dropdown_item">
                        {% for level in content['progression'].keys()  %}
                        <a>{{ level }}</a>
                        {% endfor %}
                      </div>
                    </div>
                </div>
                <div class="two columns center-text onlyprint">
                    <b>Level:</b>
                    <span id="print_level">1</span>
                </div>
                <div class="two columns" ><b>HP:&nbsp;&nbsp;</b>
                    <span id="hit_points">{{content['progression']['1']['hit_points']}} / {{content['progression']['1']['hit_points']}}</span>
                </div>
            </div>
            <br>

            <!-- Traits -->
            <div class="row">
                <div class="offset-by-two eight columns sub-heading">Traits</div>
            </div>
            <div class="row">
                <div class="offset-by-two eight columns justify-text">
                    {{content['traits']['background'].title()}}.
                    Wears {{content['traits']['clothing']}} clothes, and has {{content['traits']['speech']}} speech.
                    Has
                    {{'an' if content['traits']['physique'][0] in ['a','e', 'i', 'o', 'u'] else 'a'}}
                    {{content['traits']['physique']}} physique,
                    {{'an' if content['traits']['face'][0] in ['a','e', 'i', 'o', 'u'] else 'a'}}
                    {{content['traits']['face']}} face, {{content['traits']['skin']}} skin and {{content['traits']['hair']}} hair.
                    Is {{content['traits']['virtue']}}, but {{content['traits']['vice']}}.
                    Has been {{content['traits']['misfortune']}} in the past.
                    Favours {{content['traits']['alignment']}}.
                </div>
            </div>
            <br>

            <!-- Attributes -->
            <div class="row">
                <div class="offset-by-two eight columns sub-heading">Attributes</div>
            </div>
            <div class="row center-text">
                <div class="offset-by-three two columns"><b>Defense</b></div>
                <div class="two columns"><b>Attribute</b></div>
                <div class="two columns"><b>Bonus</b></div>
            </div>
            {% for (attribute, attribute_defense) in content["progression"]["1"]["attributes"].items() %}
            <div class="row center-text">
                <div id="{{attribute}}_defense" class="offset-by-three two columns">{{attribute_defense}}</div>
                <div class="two columns">{{attribute.title()}}</div>
                <div id="{{attribute}}_bonus" class="two columns">{{attribute_defense - 10}}</div>
            </div>
            {% endfor %}
            <br>
            <div class="row center-text">
                <div class="offset-by-three two columns">{{content['armor_defense']}}</div>
                <div class="two columns">Armor</div>
                <div class="two columns">{{content['armor_defense'] - 10}}</div>
            </div>
            <br>

            <!-- Inventory -->
            <div class="row">
                <div class="offset-by-two eight columns sub-heading">Inventory</div>
            </div>
            <div class="row">
                <div class="offset-by-two six columns"><b>Name</b></div>
                <div class="one columns center-text"><b>Slots</b></div>
            </div>
            {% for item in content["inventory"] %}
            <div class="row">
                <div class="offset-by-two columns six columns">
                    {% if item['equipped'] %}
                    (E)
                    {% endif %}
                    {{item['name']}}
                    {% if item['type']=='Weapon' %}
                    <i class="footnote">
                    ({{item['damage']}} damage,
                     {{item['hands']}} {{'hands' if item['hands'] > 1 else 'hand'}},
                     {{item['quality']}} quality)
                    </i>
                    {% elif item['type']=='Armor' and item['name'] in ['Shield', 'Helmet'] %}
                    <i class="footnote">
                    (Defense +{{item['defense']}}, {{item['quality']}} quality)
                    </i>
                    {% elif item['type']=='Armor' and item['name'] not in ['Shield', 'Helmet'] %}
                    <i class="footnote">
                    (Defense {{11 + item['defense']}}, {{item['quality']}} quality)
                    </i>
                    {% endif %}
                </div>
                <div class="one columns center-text">{{item['slots']}}</div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="offset-by-eight one columns">
                    <b>({{content['used_slots']}}/<span id="total_slots">{{content['progression']['1']['attributes']['constitution']}}</span>)</b>
                </div>
            </div>

            <!-- Footnote -->
            <br>
            <div class="row onlyprint header center-text">
                <div class="offset-by-two eight columns heading">Lawbreaker</div>
            </div>
            <div class="row onlyprint center-text">
                <div class="offset-by-two eight columns"><b>A character generator for the Knave role playing game.</b></div>
            </div>
            <div class="row onlyprint center-text">
                <div class="offset-by-two eight columns">https://lawbreaker.herokuapp.com</div>
            </div>
            <br class="onlyprint">
            <div class="row center-text">
                <div class="twelve columns">
                    <span class="footnote">
                    <a href="https://github.com/hrangan/lawbreaker" target="github">Lawbreaker</a> by hrangan
                    ·
                    <a href="https://www.drivethrurpg.com/product/250888/Knave" target="knave">Knave</a> by Questing Beast
                    ·
                    <a href="https://www.reddit.com/r/DnDBehindTheScreen/comments/50pcg1/a_post_about_names_names_for_speakers_of_the/" target="orkishblade">Random names</a> courtesy OrkishBlade
                    </span>
                </div>
            </div>

            <!-- Blank line for spacing -->
            <div class="row noprint">&nbsp;</div>
        </div>
    </body>
</html>
