body {
  font-family: 'Crimson Text', serif;
  font-size:1.8em;
  margin-top:10px;
}

img {
  max-width:150%;
}

.header {
  display:flex;
  align-items:center;
}

.center-text {
  text-align:center;
}

.justify-text {
  text-align:justify;
}

.sub-heading {
  font-family:'Sebaldus-Gotisch';
  font-size:1.9em;
}

.heading {
  font-family:'Sebaldus-Gotisch';
  font-size:3em;
}

.footnote {
  font-size:0.7em;
}

.shift-right {
  margin-left:6.66666%;
}

.permalink-text {
  font-size:0.8em;
  height:60px;
  padding-top:3%;
}

.status-text {
  display: flex;
  align-items: baseline;
}

.permalink-button {
  font-size:0.9em;
  height:60px;
  padding-top:2%;
}

.hr-margin {
  margin-top:-3%;
}

.maintenance-header {
  font-family:'Sebaldus-Gotisch';
  font-size:3em;
  text-align:center;
}

.maintenance-text {
  font-size:2em;
  text-align:justify;
}

.error-heading {
  font-family:'Sebaldus-Gotisch';
  font-size:5em;
  text-align:center;
}

.error-text {
  font-size:2em;
  text-align:center;
}

.levelup {
  padding: 0 10px;
}

.hidden {
  display : none !important;
}

.dropbtn {
    color: black;
    padding: 16px;
    font-size: 1em;
    border: none;
    font-weight:normal;
    min-width: 60px
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
