body {
  font-family: 'Crimson Text', serif;
  font-size: 1.08vw;
  margin-top:10px;
}

img {
  max-width:150%;
}

.header {
  display:flex;
  align-items:center;
}

.center-text {
  text-align:center;
}

.justify-text {
  text-align:justify;
}

.sub-heading {
  font-family:'Sebaldus-Gotisch';
  font-size:1.9em;
}

.heading {
  font-family:'Sebaldus-Gotisch';
  font-size:3em;
}

.footnote {
  font-size:0.7em;
}

.shift-right {
  margin-left:6.66666%;
}

.permalink-text {
  font-size:0.8em;
  height:60px;
  padding-top:3%;
}

.permalink-button {
  font-size:0.9em;
  height:60px;
  padding-top:2%;
}

.hr-margin {
  margin-top:-3%;
}

.maintenance-header {
  font-family:'Sebaldus-Gotisch';
  font-size:3em;
  text-align:center;
}

.maintenance-text {
  font-size:2em;
  text-align:justify;
}

.error-heading {
  font-family:'Sebaldus-Gotisch';
  font-size:5em;
  text-align:center;
}

.error-text {
  font-size:2em;
  text-align:center;
}

@media (orientation: portrait) {
  /* Offsets */
  .one.column,
  .one.columns                    { width: 7%; }
  .two.columns                    { width: 20%; }
  .six.columns                    { width: 72%;            }
  .eight.columns                  { width: 98%; }
  .ten.columns                    { width: 100%; margin-left: 0; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 0%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 0%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 8.6666666666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 60.6666666666666666667%; }

  .image.hack                     { width: 17%}

    body {
      font-size: 2.8vw;
    }

}
